<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.train.dao.ProResDao">

    <resultMap id="proResMapper" type="com.example.train.pojo.program.ProRes">
        <id column="id" property="id"/>
        <result column="program_id" property="proId"/>
        <result column="resource_id" property="resId"/>
    </resultMap>

    <insert id="insertProRes">
        INSERT INTO pro_res(program_id,resource_id) VALUES(#{proId},#{resId})
    </insert>

    <select id="selectResIdsByProId" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        SELECT resource_id
        FROM pro_res
        WHERE program_id = #{proId}
    </select>
</mapper>